USE [master]
GO
IF EXISTS (SELECT * FROM sys.databases WHERE name = 'QuanLyCuaHangXeMay') ALTER DATABASE [QuanLyCuaHangXeMay] SET SINGLE_USER WITH ROLLBACK IMMEDIATE
DROP DATABASE [QuanLyCuaHangXeMay]
GO
CREATE DATABASE [QuanLyCuaHangXeMay]
GO
USE [QuanLyCuaHangXeMay]
GO


CREATE TABLE [dbo].[ChucVu](
	[MaCV] [varchar](5) NOT NULL PRIMARY KEY CLUSTERED,
	[TenCV] [nvarchar](50) NULL
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[HangXe](
	[MaHang] [varchar](5) NOT NULL PRIMARY KEY CLUSTERED,
	[TenHang] [nvarchar](50) NULL
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[KhachHang](
	[MaKH] [varchar](5) NOT NULL PRIMARY KEY CLUSTERED,
	[HoTen] [nvarchar](50) NULL,
	[Phai] [nvarchar](3) NULL DEFAULT N'Nam' CHECK ([Phai] IN (N'Nam', N'Nữ')),
	[DiaChi] [nvarchar](100) NULL,
	[SDT] [varchar](15) NULL,
	[GhiChu] [nvarchar](100) NULL
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](5) NOT NULL PRIMARY KEY CLUSTERED,
	[HoLot] [nvarchar](50) NULL,
	[Ten] [nvarchar](10) NULL,
	[Phai] [nvarchar](3) NULL DEFAULT N'Nam' CHECK ([Phai] IN (N'Nam', N'Nữ')),
	[NgaySinh] [smalldatetime] NULL,
	[MaCV] [varchar](5) NULL FOREIGN KEY REFERENCES [dbo].[ChucVu]([MaCV])
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[XeMay](
	[MaXe] [varchar](5) NOT NULL PRIMARY KEY CLUSTERED,
	[LoaiXe] [nvarchar](50) NULL,
	[TenXe] [nvarchar](50) NULL,
	[MaHang] [varchar](5) NULL FOREIGN KEY REFERENCES [dbo].[HangXe]([MaHang]),
	[MauSac] [nvarchar](30) NULL,
	[GiaBan] [decimal](18, 0) NULL CHECK ([GiaBan] >= 0)
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[HoaDon](
	[MaHD] [varchar](5) NOT NULL PRIMARY KEY CLUSTERED,
	[MaNV] [varchar](5) NULL FOREIGN KEY REFERENCES [dbo].[NhanVien]([MaNV]),
	[MaKH] [varchar](5) NULL FOREIGN KEY REFERENCES [dbo].[KhachHang]([MaKH]),
	[MaXe] [varchar](5) NULL FOREIGN KEY REFERENCES [dbo].[XeMay]([MaXe]),
	[NgayLap] [smalldatetime] NULL DEFAULT GETDATE(),
	[SoLuong] [int] NULL DEFAULT 1 CHECK ([SoLuong] > 0),
	[ThanhTien] [decimal](18, 0) NULL CHECK ([ThanhTien] >= 0)
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[TaiKhoan](
	[MaTK] [varchar](5) NOT NULL PRIMARY KEY CLUSTERED,
	[MaNV] [varchar](5) NULL FOREIGN KEY REFERENCES [dbo].[NhanVien]([MaNV]),
	[TenDangNhap] [varchar](50) NOT NULL UNIQUE NONCLUSTERED,
	[MatKhau] [varchar](50) NOT NULL,
	[Quyen] [nvarchar](20) NOT NULL CHECK ([Quyen] IN (N'Nhân viên', N'Admin'))
) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX IDX_HoaDon_MaNV ON [dbo].[HoaDon]([MaNV]);
CREATE NONCLUSTERED INDEX IDX_HoaDon_MaKH ON [dbo].[HoaDon]([MaKH]);
CREATE NONCLUSTERED INDEX IDX_HoaDon_MaXe ON [dbo].[HoaDon]([MaXe]);
CREATE NONCLUSTERED INDEX IDX_XeMay_MaHang ON [dbo].[XeMay]([MaHang]);
CREATE NONCLUSTERED INDEX IDX_NhanVien_MaCV ON [dbo].[NhanVien]([MaCV]);

CREATE NONCLUSTERED INDEX IDX_KhachHang_SDT ON [dbo].[KhachHang]([SDT]);
CREATE NONCLUSTERED INDEX IDX_KhachHang_HoTen ON [dbo].[KhachHang]([HoTen]);
CREATE NONCLUSTERED INDEX IDX_XeMay_TenXe ON [dbo].[XeMay]([TenXe]);

INSERT [dbo].[ChucVu] ([MaCV], [TenCV]) VALUES ('CV001', N'Quản lý')
INSERT [dbo].[ChucVu] ([MaCV], [TenCV]) VALUES ('CV002', N'Nhân viên bán hàng')
INSERT [dbo].[ChucVu] ([MaCV], [TenCV]) VALUES ('CV003', N'Thủ kho')
GO

INSERT [dbo].[HangXe] ([MaHang], [TenHang]) VALUES ('HX001', N'Honda')
INSERT [dbo].[HangXe] ([MaHang], [TenHang]) VALUES ('HX002', N'Yamaha')
INSERT [dbo].[HangXe] ([MaHang], [TenHang]) VALUES ('HX003', N'Suzuki')
GO

INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [Phai], [DiaChi], [SDT], [GhiChu]) VALUES ('KH001', N'Nguyễn Văn A', N'Nam', N'Long Xuyên', '0912345678', N'Khách quen')
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [Phai], [DiaChi], [SDT], [GhiChu]) VALUES ('KH002', N'Trần Thị B', N'Nữ', N'Châu Đốc', '0987654321', N'Thân thiện')
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [Phai], [DiaChi], [SDT], [GhiChu]) VALUES ('KH003', N'Lê Minh C', N'Nam', N'Tân Châu', '0909988776', N'Khách mới')
GO

INSERT [dbo].[NhanVien] ([MaNV], [HoLot], [Ten], [Phai], [NgaySinh], [MaCV]) VALUES ('NV001', N'Nguyễn Văn', N'Nam', N'Nam', CAST(N'1995-05-20T00:00:00' AS SmallDateTime), 'CV001')
INSERT [dbo].[NhanVien] ([MaNV], [HoLot], [Ten], [Phai], [NgaySinh], [MaCV]) VALUES ('NV002', N'Lê Thị', N'Hoa', N'Nữ', CAST(N'1998-09-12T00:00:00' AS SmallDateTime), 'CV002')
INSERT [dbo].[NhanVien] ([MaNV], [HoLot], [Ten], [Phai], [NgaySinh], [MaCV]) VALUES ('NV003', N'Trần', N'Bình', N'Nam', CAST(N'2000-03-14T00:00:00' AS SmallDateTime), 'CV003')
GO

INSERT [dbo].[TaiKhoan] ([MaTK], [MaNV], [TenDangNhap], [MatKhau], [Quyen]) VALUES ('TK001', 'NV001', 'admin', '123', N'Admin')
INSERT [dbo].[TaiKhoan] ([MaTK], [MaNV], [TenDangNhap], [MatKhau], [Quyen]) VALUES ('TK002', 'NV002', 'nhanvienA', '123', N'Nhân viên')
INSERT [dbo].[TaiKhoan] ([MaTK], [MaNV], [TenDangNhap], [MatKhau], [Quyen]) VALUES ('TK003', 'NV004', 'nhanvienB', '123', N'Nhân viên')
GO

INSERT [dbo].[XeMay] ([MaXe], [LoaiXe], [TenXe], [MaHang], [MauSac], [GiaBan]) VALUES ('XM001', N'Tay ga', N'Honda Vision', 'HX001', N'Đỏ', 34000000)
INSERT [dbo].[XeMay] ([MaXe], [LoaiXe], [TenXe], [MaHang], [MauSac], [GiaBan]) VALUES ('XM002', N'Số', N'Yamaha Sirius', 'HX002', N'Xanh', 21000000)
INSERT [dbo].[XeMay] ([MaXe], [LoaiXe], [TenXe], [MaHang], [MauSac], [GiaBan]) VALUES ('XM003', N'Tay ga', N'Suzuki Address', 'HX003', N'Trắng', 29000000)
GO

INSERT [dbo].[HoaDon] ([MaHD], [MaNV], [MaKH], [MaXe], [NgayLap], [SoLuong], [ThanhTien]) VALUES ('HD001', 'NV001', 'KH001', 'XM001', CAST(N'2025-11-11T00:00:00' AS SmallDateTime), 2, 68000000)
INSERT [dbo].[HoaDon] ([MaHD], [MaNV], [MaKH], [MaXe], [NgayLap], [SoLuong], [ThanhTien]) VALUES ('HD002', 'NV002', 'KH002', 'XM003', CAST(N'2025-11-10T00:00:00' AS SmallDateTime), 1, 29000000)
INSERT [dbo].[HoaDon] ([MaHD], [MaNV], [MaKH], [MaXe], [NgayLap], [SoLuong], [ThanhTien]) VALUES ('HD003', 'NV003', 'KH003', 'XM002', CAST(N'2025-11-09T00:00:00' AS SmallDateTime), 3, 63000000)
GO